
<ion-tabs color="primary">            
    <ion-tab label="Home" icon="home" href="/tabs/(home:home)">
        <ion-router-outlet name="home"></ion-router-outlet>
    </ion-tab>    
          
    <ion-tab label="Code" icon="code" href="/tabs/(code:code)">
        <ion-router-outlet name="code"></ion-router-outlet>
    </ion-tab>
        
    <ion-tab label="Video" icon="film" href="/tabs/(video:video)">
        <ion-router-outlet name="film"></ion-router-outlet>
    </ion-tab>            
</ion-tabs>