// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #14262b;
  --ion-color-primary-rgb: 37,66,72;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #122126;
  --ion-color-primary-tint: #2c3c40;

  --ion-color-secondary: #2b2b88;
  --ion-color-secondary-rgb: 43,43,136;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #262678;
  --ion-color-secondary-tint: #404094;

  --ion-color-tertiary: #55301d;
  --ion-color-tertiary-rgb: 85,48,29;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4b2a1a;
  --ion-color-tertiary-tint: #664534;

  --ion-color-success: #2a8669;
  --ion-color-success-rgb: 42,134,105;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #25765c;
  --ion-color-success-tint: #3f9278;

  --ion-color-warning: #946e57;
  --ion-color-warning-rgb: 148,110,87;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #82614d;
  --ion-color-warning-tint: #9f7d68;

  --ion-color-danger: #5d291c;
  --ion-color-danger-rgb: 93,41,28;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #522419;
  --ion-color-danger-tint: #6d3e33;

  --ion-color-dark: #030303;
  --ion-color-dark-rgb: 3,3,3;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #030303;
  --ion-color-dark-tint: #1c1c1c;

  --ion-color-medium: #60736d;
  --ion-color-medium-rgb: 96,115,109;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #546560;
  --ion-color-medium-tint: #70817c;

  --ion-color-light: #b0b9b6;
  --ion-color-light-rgb: 176,185,182;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #9ba3a0;
  --ion-color-light-tint: #b8c0bd;

  --ion-background-color: var(--ion-color-dark-tint); // var(--ion-color-light-tint);
  --ion-toolbar-background-color: black; //white;
  --ion-toolbar-color: white; //var(--ion-color-dark);
  --ion-card-background: white;
  --ion-menu-toggle-background: white;
  //--ion-list-contain: inherit;
   // --ion-grid-column-padding: 10px;
}
div {
    //letter-spacing: 2px;
}
    
.menu {
    --background: black;
    --color: white;
}
.menu ion-item  {
    padding-top: 10px;
}
.menu ion-list  {
    display: inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover .home {
   // text-decoration: none;
     color: white;// black;
}

a:active .home {
    color: white;
}

.mainTitle {
    text-align: left;
    height: 100%;
    letter-spacing: 2px;
    text-align: center;
    padding-left: 10px;
    color: white;
    ion-title {
        font-size: 1em;
    }
}
.mainTitle:hover {
    color: white; //black;   
    //letter-spacing: 4px;
}
.mainTitle:active {
    color: white; //black;   
    //letter-spacing: 4px;
}
.home {
    color: black;// white;
}
.home:hover {
    //color: white;// black;
}

 ion-list {
     contain: inherit;
}

.backdrop {
    //text-transform: uppercase;
    text-align: right;
    margin: 0px;
    top: -1px;
    right: 2px;
    font-size: 34px;
    //font-style: oblique; 
    position: absolute;
    //font-weight: 100;
    color: var(--ion-color-light-tint);
    
    /* Safari */
   // -webkit-transform: rotate(9deg);

    /* Firefox */
    //-moz-transform: rotate(9deg);

    /* IE */
    //-ms-transform: rotate(9deg);

    /* Opera */
    //-o-transform: rotate(9deg);

    /* Internet Explorer */
    //filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);


}


/*.spacecard {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin: 5px;
    --background: white;
   // padding: 5px;
    // align-content: center;
    display: block;
}*/

.vimeoframe {
    background-color: black;    
    content: contain;
    display: block;
    margin-top: 0px;
    width: 100%;
}
.imgframe {
    background-color: black;
    //background-image: url("../assets/imgs/000039.JPG");
    display: block;
    margin-top: 0px;
    width: 100%;
}
.reelvideo {
    background-color: black;
    //background-image: url("../assets/imgs/000039.JPG");
    display: block;
    margin-top: 0px;    
    width: 100%;
}
ion-card-content {
   // width: 100%;
   // white-space: pre-line;
}
//ion-card {
  //  --background: white;
    //white-space: normal;
  //   text-overflow: ellipsis;
//}
.shortText {
    text-transform: uppercase;
    margin: 0px;
    font-size: 10px;
    font-weight: 900;
   // color: var(--ion-color-tertiary-tint);
     color: var(--ion-color-success);
    //border-style: solid;
    //border-width: 1px;
}
.title {
    padding: 5px 10px 10px 10px;
     color: var(--ion-color-primary-tint);
}
.longText {
    text-align: left;
    color: var(--ion-color-dark);
    //width: inherit;
    //margin: auto;
    //display: contents;
   // white-space: normal;
}
p {
    //white-space: pre-line;
   // text-overflow: ellipsis;
}


//.card-background-page {
.spacecard {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin: 5px;
    --background: white;
   // padding: 5px;
    // align-content: center;
    display: block;
  //ion-card {
    position: relative;
    text-align: center;
    box-shadow: none;
//  }
    
    letter-spacing: 2px;

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.1em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    //color: var(--ion-color-success);  
    //  text-shadow: 2px 2px var(--ion-color-dark);
  }

  .card-subtitle {
    font-size: 1.3em;
    position: absolute;
    top: 56%;
    width: 100%;
    color: #fff;
    font-weight: bold;
   // text-shadow: 2px 2px var(--ion-color-dark);
  }
    p {
            letter-spacing: 0px;
    }
    
    .under-title {
        text-align: left;
        color: var(--ion-color-dark);
    }    
    .under-subtitle {
        text-align: left;
        color: var(--ion-color-success);
        text-transform: uppercase;
        margin: 0px;
        font-size: 0.8em;
        font-weight: 900;
    }    

}
.reelgrid {
    padding: 0px; // padding: 10px;
   // --ion-grid-columns: 2;
}
.reelcontainer {
    --background: black !important;
    max-width: 992px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.reellist {
    margin: 0px; // margin: 0px;
    display: inline-block; // 2.0
    width: 50%;
}
.reelcard {
    //margin-top: 100px;
  //  margin-left: auto;
  //  margin-right: auto;
    margin: 0;
  //  --background: white;
 //   display: block;
  //  position: relative;
    text-align: center;
   
    
    .reelvideo {
     //   width: 200px;
        //height: 340px;  
            width: 100%;
    }
    
    div {
        display: none;
       // background-color: rgba( 94, 94, 94, 0.425 )
    }
    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.1em;
        width: 100%;
        font-weight: bold;
        color: #fff;
         letter-spacing: 2px;
    }

    .card-subtitle {
        font-size: 1.3em;
        position: absolute;
        top: 56%;
        width: 100%;
        color: #fff;
        font-weight: bold;
         letter-spacing: 1px;
    }
}
 .reelcard:hover  div{
    display: block;
}
 

.showrealbox {
    --background: white;
    display: block; //table;
    margin: auto;
    width: 100%;
    max-width: 840px;
    //height: 98%;
    position: relative;
    text-align: left;
    
    ion-card {
        display: block;
        margin: auto;
        width: 100%;
        //height: 90%;
        max-width: 900px;
    }
    #showreel {
        //background-image: url("../assets/imgs/000039.JPG");
        
        width: 100%;
        height: 100%;        
        //padding: 10px 10px 40px 10px;        
    }
    ion-title {  
         --color: white;
        display: block;
        margin: auto;
        width: 100%;
        position: absolute;
       // top: 93%;
        font-size: 0.9em;
    }
}
.floaters {
    position: sticky;
    top: 90%;
    margin: 20px 0px 40px 0px;
    justify-content: space-around;
    text-align: center;
    
    ion-button {
        text-transform: none;    
            margin: 0px 20px; //margin: 20px 20px 0px 20px;
        --background: black;
    }
    a {
        top: 170%;
        left: 1%;
        right: 1%;
        text-align: center;
        margin: 0px 0px 10px 0px;
        position: absolute;
        font-size: smaller;
        color: #f4f5f8;
    }
}


.projectgrid {
    margin-top: 100px;
}

.projectbox {
    //max-width: 200px;
    background-color: white;
    //display: table;
    //margin: auto;
    //max-width: 750px;
     width: 100%;
    max-width: 840px;
     display: block; //table;
   margin: auto auto 20px auto; //  margin: auto;
    //width: 70%;
   // height: 60%;
    position: relative;
    //text-align: left;
    
    ion-card  {
        background-color: white;
        max-width: 750px;
        
        display: block;
        margin: auto auto 20px auto;
        width: 100%;
        //height: 90%;
        //max-width: 900px;
    }
     
    
    iframe {
       // width: 60%;
        background-color: black;    
        //content: contain;
        display: block;
        margin-top: 0px;
        width: 100%;
        height: 100%;
    }
    .under {
        background-color: white;
        padding: 10px;
        display: block;
        margin: auto;
        
        a {
            font-size: 0.8em;
            color: var(--ion-color-secondary);
            text-align: center;
            margin: 10px;
            left: 0px;
            right: 0px;
            font-weight: 900;
            display: block;
        }
    }    
    .under-subtitle {
        padding: 10px 10px 5px 10px;
        text-align: left;
        color: var(--ion-color-success);
        text-transform: uppercase;
        margin: 0px;
        font-size: 0.7em;
        font-weight: 900;
    }
    .under-title {
        font-size: 1.4em;
        text-align: left;
        color: var(--ion-color-dark);
        padding: 0px 10px 5px 30px;
    }
    .under-text {
        font-size: 0.8em;
        text-align: left;
        color: var(--ion-color-dark);
        padding: 5px 10px 10px 10px;
        b {
            color: var(--ion-color-success-tint);
        }
    }
}
.projectlist {
   // margin: auto;
      position: relative;
    
    img {
        max-width: 500px;
        max-height: 300px;
    }
}



.contactbox {
    //max-width: 200px;
    --background: white;
   // display: table;
    margin: auto;
    //max-height: 330px;
     max-width: 540px; //750px;
    padding-top: 0px;
    
    ion-card {
        //max-height: 330px;
        max-width: 750px;
        margin: 0px;
        margin-left: 0px;
        margin-right: 0px;
        display: table-header-group; //block;
        position: relative;
        text-align: center;
    }
    
    ion-button {
        --background: white;
        --color: black;
        display: flex;
        text-align: justify;
        text-transform: none;
    }
    
     ion-button ion-icon {
        padding: 7px;
    }
    
    div {
        display: inline-flex;
    }
    
    .about {
        background-color: white;
        padding: 5px 15px 2px 20px;
        margin-bottom: 0px;
        text-align: left;
    }
    .signiture {
        background-color: white;
        padding: 5px 15px 15px 20px;
        margin: 0px 5px 0px 40px;
        text-align: left;
    }
}




//@media (max-width: 599px) {
@media (max-width: 575px) {
    .showrealbox {
        height: 50%;
        
         #showreel {
            padding: 0px 0px 40px 0px;
        }
        ion-title {  
            top: 89%;
        }
    }
    .projectbox {
       height: 50%;
        @media (orientation: landscape) {
            height: 100%;
        }
    }
    .spacecard {
       // width: 100%; 
        //width: 240px;
        //width: calc(100% - 20px);
    }
    .vimeoframe {
        //width: 240px;
        width: calc(100% - 20px);
        height: 135px;
    }
    .imgframe {
        width: 240px;
      //  height: 135px;
        //height: 135px;
    }
    .reellist {
        width: 100%;
    }
    .reelcard div{
        display: block;
    }
    .reelvideo {
        width: 320px;
      //  height: 135px;
        //height: 135px;
    }
    .bigscreen {
        visibility: hidden;
    }
}

@media (min-width: 576px) {
    .showrealbox {
        height: 90%;
        
         #showreel {
            padding: 0px 10px 40px 10px;
        }
        ion-title {  
            top: 92%;
        }
    }
    .projectbox {
       // width: 70%;
        height: 100%;  //  70%;
    }
    .spacecard {
        //width: 70%;
       // width: 100%; 
        //width: 416px;
        width: 320px;
    }
    .vimeoframe {
       // width: 416px;
        //height: 234px;
         width: 320px;
      //  height: 180px;
    }
    .imgframe {
        width: 320px;
        //height: 180px;
        //height: 135px;
    }
    .reelvideo {
        //width: 320px;
    }
    .bigscreen {
        visibility: hidden;
    }
    .contactbox {
        padding-top: 10px;
    }
}
@media (min-width: 768px) {
    .showrealbox {
        height: 85%;  
        ion-title {  
            top: 94%;
        }
    }
    .projectbox {
      //  height: 50%;
    // height: 75%;
        .under {
            margin-bottom: 60px;
        }
    }
    .spacecard {
       // width: 100%;   
       width: 320px;
    }
    .vimeoframe {
        width: 320px;
        //height: 180px;
        //width: 640px;
        //height: 360px;
    }
    .imgframe {
        width: 320px;
        //height: 180px;
        //height: 135px;
    }
    .reelgrid {
       // padding: 40px 50px 0px 50px;
    }
    .reelvideo {
      //  width: 320px;
    }
    .contactbox {
        padding-top: 30px;
    }
}
@media (min-width: 992px) {
    .showrealbox {
        height: 90%;  
        ion-title {  
            top: 95%;
        }
    }
    .projectbox {
       // height: 50%;
    }
    .spacecard {
       // width: 100%;   
        width: 365px;
    }
    .vimeoframe {
        //width: 720px;
        //height: 405px;
        width: 365px;
       // height: 226px;
    }
    .imgframe {
        width: 365px;
        //height: 226px;
        //height: 135px;
    }
    .reelgrid {
      //  padding: 50px 100px 0px 100px;
    }
    .reelvideo {
      //  width: 365px;
    }
    .contactbox {
        padding-top: 40px;
    }
}
@media (min-width: 1200px) {
    .showrealbox {
        height: 90%;   
    }
    .projectbox {
        //height: 50%;
    }
   .spacecard {
       // width: 100%;   
        //width: 720px;
       margin: 20px;
    }
    .vimeoframe {
        //width: 768px;
        //height: 432px;
        //width: 640px;
        //height: 360px;
    }
    .imgframe {
        //width: 640px;
        //height: 135px;
    }
     .reelgrid {
       // padding: 50px 150px 0px 150px;
    }
    .reelvideo {
     //    width: 420px;
    }
    .bigscreen {
        visibility: visible;
    }
    .contactbox {
        padding-top: 50px; //70px;
    }
}
@media (min-width: 1400px) {
    .showrealbox {
        height: 90%;   
    }
    .projectbox {
        //height: 50%;
    }
   .spacecard {
       // width: 100%;   
        //width: 720px;
       margin: 20px;
    }
    .vimeoframe {
        //width: 768px;
        //height: 432px;
        //width: 640px;
        //height: 360px;
    }
    .imgframe {
        //width: 640px;
        //height: 135px;
    }
     .reelgrid {
      //  padding: 50px 200px 0px 200px;
    }
    .reelvideo {
       //  width: 465px;
    }
    .bigscreen {
        visibility: visible;
    }
    .contactbox {
        //padding-top: 70px;
    }
}
@media (min-width: 1800px) {
    .reelgrid {
       // padding: 50px 250px 0px 250px;
    }
}



